#modalLayout {
  position: fixed;
  z-index: 1;
  padding: var(--spacing);
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.editProfile {
  position: relative;
  max-width: 750px;
  width: 850px;
  overflow: auto;
  padding: calc(var(--spacing) * 1.5);
  background-color: var(--mainWhite);
}

.editProfile .close {
  position: absolute;
  top: var(--spacing);
  right: var(--spacing);
  font-size: 20px;
  cursor: pointer;
}
.editProfile .close:hover {
  font-weight: bold;
}

.editProfile h1 {
  color: var(--primaryColor);
}

.profileForm {
  padding-top: calc(var(--spacing) * 1.5);
  min-width: 300px;
}

.formGroup {
  padding-bottom: var(--spacing);
}

.formLabel {
  padding-bottom: calc(var(--spacing) / 2);
}

.formInput input {
  padding: calc(var(--spacing) / 2);
  width: 100%;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--spacing));
}

button {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.submitButton button {
  color: var(--mainWhite);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: var(--mainTransition);
  background: var(--primaryColor);
}

.submitButton button:hover {
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
}

@media screen and (max-width: 850px) {
  .editProfile {
    width: auto;
  }
}
